@media only screen and (orientation: portrait) {

      #grid {
        position: absolute;
        top:12vh;
        left:2vw;
      }
      
      #grid ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
      }
      
      #grid ul li{
        list-style-type: none;
        height:7vh;
        width:11vw;
        border:solid black 2px;
        text-align: center;        
        font-size:2.6em;
        margin-right:2vw;
      }

      #grid ul li img{
        position:absolute;
        height:100px;
        width:100px;
        /*background-position-x: center;
        background-position: center;
        background-attachment: fixed;
        background-size:cover;
        background-origin: ;*/
      }
      
      #spin{
        position: absolute;
        top:46vh;
        left:76vw;
        height:5vh;
        width:14vw;
        font-size:1.8em;
        border-radius: 5%;
        color:#000;
      }

      #betButtons {
        position: absolute;
        display:grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        top:46vh;
        left:8vw;
      }
      
      #betButtons li{ 
        height:6vh;
        width:10vw;
        border-radius: 50%;
        background-color:darkblue;
        color:#000;
        font-size:1.7em;
        box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
        background: radial-gradient(circle at 50% 50%, transparent 60%, darkblue 95%) 10% 25%,
        radial-gradient(circle at 35% 75%, transparent 2%, lightblue 70%) 55% 15%;
        text-align: center;
        line-height: 400%;
        margin-left:3vw;
      }
      
      .playerStats #playerBank {
        position: absolute;
        top:7vh;
        left:8vw;
        height:45px;
        width:190px;
        border-radius: 10%;        
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }
      
      .playerStats #currentWager {
        position: absolute;
        top:7vh;
        left:30vw;
        height:45px;
        width:190px;
        border-radius: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }
      
      .playerStats #spinWinnings {
        position: absolute;
        top:2vh;
        left:5vw;
        height:45px;
        width:190px;
        border-radius: 10%;
        font-size: 1.4em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }
      
      

    }      