#slotCanvas{
  position: absolute;
  top:32vh;
  left:20vw;
  border:solid red 2px;
}

#grid {
  position: absolute;
  top:31vh;
  left:18vw;
  border:solid blue 2px;
}

#grid ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}

#grid ul li{
  list-style-type: none;
  height:9vh;
  width:9vw;
  border:solid black 2px;
  text-align: center;
  margin-right:1.5vw;
  font-size:1.8em;
}

#spin{
  position: absolute;
  top:78vh;
  left:65vw;
  height:45px;
  width:90px;
  border-radius: 5%;  
  color:#000;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
  background: radial-gradient(circle at 30% 35%, transparent 30%, rgb(240, 40, 90) 55%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, rgb(110, 159, 199) 70%) 55% 15%;
}



/*
.playerStats #playerBank {
  position: absolute;
  top:15vh;
  left:20vw;
  height:45px;
  width:45px;
  background: radial-gradient(circle at 50% 50%, transparent 30%, rgb(210, 240, 90) 55%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, rgb(110, 159, 199) 70%) 55% 15%;
  border-radius: 55%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
*/
.playerStats #playerBank {
  position: absolute;
  top:20vh;
  left:25vw;
  height:45px;
  width:190px;
  background: radial-gradient(circle at 90% 50%, transparent 20%, rgb(20, 40, 250) 85%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, rgb(163, 19, 09) 70%) 55% 15%;
  border-radius: 10%;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.4);
  color:#fff;
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.playerStats #currentWager {
  position: absolute;
  top:20vh;
  left:45vw;
  height:45px;
  width:190px;
  background: radial-gradient(circle at 90% 50%, transparent 20%, rgb(20, 40, 250) 85%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, rgb(163, 19, 09) 70%) 55% 15%;
  border-radius: 10%;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.4);
  color:#fff;
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.playerStats #spinWinnings {
  position: absolute;
  top:35vh;
  left:5vw;
  height:45px;
  width:190px;
  background: radial-gradient(circle at 90% 50%, transparent 20%, rgb(20, 40, 250) 85%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, rgb(163, 19, 09) 70%) 55% 15%;
  border-radius: 10%;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.4);
  color:#fff;
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}


#betButtons {
  position: absolute;
  display:grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top:75vh;
  left:22vw;

}

#betButtons li{ 
  height:65px;
  width:65px;
  border-radius: 50%;
  background-color:darkblue;
  color:#000;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
  background: radial-gradient(circle at 50% 50%, transparent 60%, darkblue 95%) 10% 25%,
  radial-gradient(circle at 35% 75%, transparent 2%, lightblue 70%) 55% 15%;
  text-align: center;
  line-height: 400%;
  margin-left:3vw;
}
